
* {
  box-sizing: border-box;
}

#body {
  background: #f31675 url(image_data/background.jpg) no-repeat fixed right;
  background: #000000;
  background: #000000 url(image_data/background.jpg) no-repeat fixed center;
  
  margin: 0;
}

.header {
  text-align: center;
  padding: 0px;
  font-size: 20px;
}

.emptyplace {
  padding: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

.column {
  flex: 20%;
  max-width: 20%;
  padding: 0 4px;
 
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.text {
  color: lightgrey;
  font-family: 'IBM Plex Sans', sans-serif;
}

.overlay-img-container {
  display: flex;
  position: relative;
  width: auto;
}

.overlay-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.overlay-click {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.overlay-img-container:hover .overlay-hover {
  opacity: 1;
}
.overlay-img-container:active .overlay-click {
  opacity: 1;
}